<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="bw-runtime">
<locations>



<location path="C:/tibco_bw6/bw/6.6/system/hotfix/lib/common" type="Directory"/>
<location path="C:/tibco_bw6/bw/6.6/system/lib/common" type="Directory"/>

<location path="C:/tibco_bw6/bw/6.6/system/hotfix/palettes" type="Directory"/>
<location path="C:/tibco_bw6/bw/6.6/system/palettes" type="Directory"/>

<location path="C:/tibco_bw6/bw/6.6/system/hotfix/shared" type="Directory"/>
<location path="C:/tibco_bw6/bw/6.6/system/shared" type="Profile"/>
</locations>
</target>
